In [1]:
import numpy as np
import pandas as pd

# we can get same random values by setting 
# the random seed every time
from numpy.random import randint
np.random.seed(321)

# our rows
companies = ["Jolly Good Toys Ltd", 
             "Pristine Machines Inc.", 
             "Piggy Bank Corporation", 
             "Cars & Gears Foundation"]

# our columns
areas = ["Europe", "North_America", "South_America", "Asia", "Africa", "Other"]

# generate some sales numbers for values with NumPy
sales = randint(99999, size=(4, 6))

# create some example timestamps
dates = ["2023-10-05", "2022-07-22", "2022-02-15", "2020-09-29"]

# combine everything into a DataFrame. Sales values are between 0 â€“ 99999, random
df = pd.DataFrame(sales, companies, areas)
df['LastUpdateDate'] = dates

df

,Europe,North_America,South_America,Asia,Africa,Other,LastUpdateDate
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023-10-05
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536,2022-07-22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022-02-15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020-09-29

In [2]:
# typical problem, the timestamp here is not a number
# it's an object => technically text / string
df.dtypes

Europe             int32
North_America      int32
South_America      int32
Asia               int32
Africa             int32
Other              int32
LastUpdateDate    object
dtype: object

In [3]:
df['LastUpdateDate'] = pd.to_datetime(df['LastUpdateDate'])
df

,Europe,North_America,South_America,Asia,Africa,Other,LastUpdateDate
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023-10-05
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536,2022-07-22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022-02-15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020-09-29

In [4]:
df.dtypes

Europe                     int32
North_America              int32
South_America              int32
Asia                       int32
Africa                     int32
Other                      int32
LastUpdateDate    datetime64[ns]
dtype: object

In [5]:
# because of the actual datetime-stamp, we can split the timestamp
# into separate numeric variables, like year, month, day
df['Year'] = df['LastUpdateDate'].dt.year
df['Month'] = df['LastUpdateDate'].dt.month
df['Day'] = df['LastUpdateDate'].dt.day

# drop the original timestamp, since we no longer need it
df = df.drop("LastUpdateDate", axis=1)

In [6]:
df

,Europe,North_America,South_America,Asia,Africa,Other,Year,Month,Day
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023,10,5
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536,2022,7,22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022,2,15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020,9,29

In [7]:
df.dtypes

Europe           int32
North_America    int32
South_America    int32
Asia             int32
Africa           int32
Other            int32
Year             int32
Month            int32
Day              int32
dtype: object