### pandas-modules, basic examples, DataFrames

In [4]:
# typical imports 
# pip install numpy
# pip install pandas
import numpy as np
import pandas as pd

In [5]:
# we can get same random values by setting 
# the random seed every time
from numpy.random import randint
np.random.seed(321)


# our rows
companies = ["Jolly Good Toys Ltd", 
             "Pristine Machines Inc.", 
             "Piggy Bank Corporation", 
             "Cars & Gears Foundation"]

# our columns
areas = ["Europe", "North_America", "South_America", "Asia", "Africa", "Other"]

# generate some sales numbers for values with NumPy

sales = randint(99999, size=(4, 6))

# combine everything into a DataFrame. Sales values are between 0 â€“ 99999, random
df = pd.DataFrame(sales, companies, areas)

In [ ]:
# since this is already a DataFrame, we don't need 
# to call .to_frame()
df

,Europe,North_America,South_America,Asia,Africa,Other
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335