### We're going to use scikit-learn to process categorical variables

In [1]:
# pip install scikit-learn

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("company_categories.csv")

In [4]:
df

         Company Name    Sales     Area    Size Stock_Market
0           Tech Nova  1413453  America  Medium          Yes
1       Global Sphere   115318     Asia   Large          Yes
2            Innovexa   815313   Europe   Micro           No
3        Eco Dynamics   466880   Europe  Medium           No
4   Skyline Solutions   641460   Europe   Small          Yes
5    NextGen Ventures   790976     Asia  Medium           No
6            ApexCorp   831239  America  Medium          Yes
7        Fusion Works  1191840  America  Medium           No
8        Quantum Edge   820746   Europe   Micro          Yes
9      Visionary Labs   863168  America   Large          Yes
10   Pinnacle Systems   275281  America   Small          Yes
11      Bright Future  1070545     Asia   Micro           No

### Case 1: Binary categories (category with EXACTLY two options ONLY)

### Case 2: Ordinal categories

### Case 3: Nominal categories

In [ ]:
asfdasfd