### Let's try some pandas-features with the housing dataset (Seattle)

In [16]:
import numpy as np
import pandas as pd

In [17]:
# load the data
df = pd.read_csv("houses.csv")

In [18]:
# get the first 5 rows
# for amount of data, try just df or len(df)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

**Filtering single rows from the data**

In [ ]:
# filter out only one single house with a certain id
# this is mostly
single_house = df[df['id'] == 3793500160]

In [21]:
single_house.transpose()

                             9
id                  3793500160
date           20150312T000000
price                 323000.0
bedrooms                     3
bathrooms                  2.5
sqft_living               1890
sqft_lot                  6560
floors                     2.0
waterfront                   0
view                         0
condition                    3
grade                        7
sqft_above                1890
sqft_basement                0
yr_built                  2003
yr_renovated                 0
zipcode                  98038
lat                    47.3684
long                  -122.031
sqft_living15             2390
sqft_lot15                7570